ul{
    list-style: none;
}

a:link{
    color: #000;
    text-decoration: none;
}
.link_hover{
    text-decoration: none;
}
.link_hover:hover{
    color: rgb(80, 80, 241);
    text-decoration: underline;
}

.marginSpace-x{
    /*Clase para crear margenes en el eje X*/
    margin: 0 5px;
}

.marginSpace-y{
    margin: 5px;
}

.item_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_top{
    position: absolute;
    top: 12%;
    bottom: 0;
}

.item_center{
    text-align: start;
    align-items: center;
}

.item_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con el mismo ancho */
    gap: 20px; /* Espacio entre los elementos */
}

.grid_center{
    justify-items: center;
    text-align: start;
    font-size: 20px;
}

.button_black{
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #000; 
    background-color: #fff; 
    border-color: #f8f9fa; 
}
.button_black:hover {
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000; 
    transition: all 0.3s ease;
}

.button_green{
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #328725; 
    background-color: #fff; 
    border-color: #328725; 
}
.button_green:hover {
    color: #ffffff; 
    background-color: #328725; 
    border-color: #328725; 
    transition: all 0.3s ease;
}

.button_yellow{
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #000; 
    background-color: #fff; 
    border-color: #f8f9fa; 
}
.button_yellow:hover {
    color: #000; 
    background-color: #f4f400; 
    border-color: #f4f400; 
    transition: all 0.3s ease;
}

.bg-color_Yellow{
    background-color: #f4f400;
}

.bg-color_GreenLight{
    background-color: #BCE78C;
}

.bg-color_CustomWhite{
    background-color: #FFFEE5;
}